<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>图书列表</title>
</head>
<body>
<h1>图书列表</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody id="book-list"></tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        loadBooks();
    });

    function loadBooks() {
        $.ajax({
            url: "/books",
            type: "GET",
            dataType: "json",
            success: function(data) {
                var books = data.data;
                var bookList = $("#book-list");

                // 清空表格内容
                bookList.empty();

                // 遍历图书列表并添加表格行
                books.forEach(function(books) {
                    var row = $("<tr></tr>");
                    $("<td>" + books.Id + "</td>").appendTo(row);
                    $("<td>" + books.Title + "</td>").appendTo(row);
                    row.appendTo(bookList);
                });
            },
            error: function() {
                alert("请求失败！");
            }
        });
    }
</script>
</body>
</html>